{% load i18n %}
{% load static %}

<html>
    <head>
        <title>WorkManagment</title>
        <link rel="stylesheet" type="text/css" href="{% static 'work/style.css' %}">
    </head>
    <body>
        <div class='container'>
            <header>
                {% if user.is_authenticated %}
                    <div class='log'><a href="{% url 'accounts:logout' %}">{% trans "LogOut" %}</a></div>
                {% else %}
                    <div class='log'><a href="{% url 'accounts:login' %}">{% trans "LogIn" %}</a></div>
                {% endif %}
                <nav class='menu'>
                    <a href="{% url 'work:comp_list' %}">{% trans "Companies" %}</a>
                    <a href="{% url 'work:worker_list' %}">{% trans "Workers" %}</a>
                    <a href="{% url 'work:create_work' %}">{% trans "New" %}</a>
                    <a href="{% url 'work:hire' %}">{% trans "Hire" %}</a>
                </nav>
            </header>
            <hr><br>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>