{% extends 'work/base.html' %}

{% block content %}
    {% if workers %}
        <ul>
        {% for worker in workers %}
            <div class='work'>
                <li>
                    <a href="{% url 'work:worker_detail' worker.id %}">{{ worker.first_name }} {{ worker.last_name }}</a>
                    {% for wp in worker.workplaces.all %}
                        {% if wp.status == 1 %}
                            <p class = 'position'>{{ wp.work.name }} at {{ wp.work.company.name }}</p>
                        {% endif %}
                    {% endfor %}
                </li>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No workers.</p>
    {% endif %}
{% endblock %}
